Package: com.kulinichx.tiktoklayer
Name: TiktokLayer
Version: 1.0.2
Architecture: iphoneos-arm64
Description: iPad layer UI adjustment for Douyin/Aweme.
Maintainer: kulinichx
Author: kulinichx
Section: Tweaks
Depends: mobilesubstrate | ellekit
