Package: awemex.alphapro
Name: AwemeX AlphaPro
Version: 10.7-24
Architecture: iphoneos-arm64
Description: iPad UI layer adjustment for Douyin/Aweme.
Maintainer: kulinichx
Author: kulinichx
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 14.0)
