Package: awemex.alphapro
Name: AwemeX AlphaPro
Version: 10.7-40
Architecture: iphoneos-arm64
Description: AwemeX for iPad: iPad UI layer adjustment and long-press media panel for Douyin/Aweme.
Maintainer: kulinichx
Author: kulinichx
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 14.0)
